In [21]:
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [43]:
species_df = pd.read_csv(r"C:\Users\monee\OneDrive\Documents\species_info.csv")
species_df['conservation_status'] = species_df['conservation_status'].fillna('Stable')
species_df

,category,scientific_name,common_names,conservation_status
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,Stable
1,Mammal,Bos bison,"American Bison, Bison",Stable
2,Mammal,Bos taurus,"Aurochs, Aurochs, Domestic Cattle (Feral), Dom...",Stable
3,Mammal,Ovis aries,"Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)",Stable
4,Mammal,Cervus elaphus,Wapiti Or Elk,Stable
...,...,...,...,...
5819,Vascular Plant,Solanum parishii,Parish's Nightshade,Stable
5820,Vascular Plant,Solanum xanti,"Chaparral Nightshade, Purple Nightshade",Stable
5821,Vascular Plant,Parthenocissus vitacea,"Thicket Creeper, Virginia Creeper, Woodbine",Stable
5822,Vascular Plant,Vitis californica,"California Grape, California Wild Grape",Stable
5823,Vascular Plant,Tribulus terrestris,"Bullhead, Caltrop, Goathead, Mexican Sandbur, ...",Stable

In [44]:
observations_df = pd.read_csv(r"C:\Users\monee\OneDrive\Documents\observations.csv")
observations_df

,scientific_name,park_name,observations
0,Vicia benghalensis,Great Smoky Mountains National Park,68
1,Neovison vison,Great Smoky Mountains National Park,77
2,Prunus subcordata,Yosemite National Park,138
3,Abutilon theophrasti,Bryce National Park,84
4,Githopsis specularioides,Great Smoky Mountains National Park,85
...,...,...,...
23291,Croton monanthogynus,Yosemite National Park,173
23292,Otospermophilus beecheyi,Bryce National Park,130
23293,Heterotheca sessiliflora ssp. echioides,Bryce National Park,140
23294,Dicranella rufescens,Yosemite National Park,171
23295,Cucurbita pepo,Yosemite National Park,164